---
title: Azure Open Service Broker for PCF (Beta)
owner: Partners
---

<p class="note warning"><strong> WARNING:</strong>
This tile requires a Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>

<p class="note warning">
<strong>WARNING:</strong> The Azure Open Service Broker for PCF tile is currently in an open beta stage. As such, it is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.</p>

This documentation describes the Azure Open Service Broker for Pivotal Cloud Foundry (PCF), which is based on [Open Service Broker for Azure (OSBA)](https://github.com/Azure/open-service-broker-azure).

## <a id='overview'></a>Overview

The OSBA extends Cloud Foundry with Azure-managed services that can be consumed by applications.
It exposes services in the Marketplace, manages the provisioning and de-provisioning of
service instances, and provides credentials for an application to consume the resource.

See which Azure services are supported below.

## <a id='features'></a>Key Features

Service modules with `Experimental` (Alpha) stability, which is intended for early feature review and evaluation:

* [Azure Event Hubs](https://azure.microsoft.com/en-us/services/event-hubs/)
* [Azure Key Vault](https://azure.microsoft.com/en-us/services/key-vault/)
* [Azure Redis Cache](https://azure.microsoft.com/en-us/services/cache/)
* [Azure Service Bus](https://azure.microsoft.com/en-us/services/service-bus/)
* [Azure Storage](https://azure.microsoft.com/en-us/services/storage/)
* [Azure Text Analytics (Cognitive Services)](https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/)

Service modules with `Preview` (Beta) stability, which is intended for testing during proof of concept stage:

* [Azure Cosmos DB](https://azure.microsoft.com/en-us/services/cosmos-db/)

Service modules with `Stable`(GA) stability:

* [Azure Database for MySQL](https://azure.microsoft.com/en-us/services/mysql/)
* [Azure Database for PostgreSQL](https://azure.microsoft.com/en-us/services/postgresql/)
* [Azure SQL Database](https://azure.microsoft.com/en-us/services/sql-database/)

See the various definitions of stability in OSBA here: https://github.com/Azure/open-service-broker-azure/blob/master/docs/stability.md

## <a id="snapshot"></a>Product Snapshot


The following table provides version and version-support information about Open Service Broker for Azure:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.12.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 22, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.2.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0.x, v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.0.x, v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Trusty</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>Azure, GCP, AWS, OpenStack, and vSphere</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

Open Service Broker for Azure has the following requirements:

+ PCF

+ Azure subscription and service principal

+ A Redis host

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or create an issue on the [Github repository of Open Service Broker for Azure](https://github.com/Azure/open-service-broker-azure/issues).

## <a id='license'></a>License

This product is licensed under the MIT License.
