---
title: Azure Open Service Broker for PCF Release Notes
owner: Partners
---
### v0.10.0
**Release Date:** May 8, 2018

* Initial build with Open Service Broker for Azure v0.10.0. See release note [here](https://github.com/Azure/open-service-broker-azure/releases/tag/v0.10.0).

<p class="note"><strong>Note</strong>: This software is beta quality. Releases prior to v1.0.0 may introduce breaking changes and should not be used in production.</p>
