---
title: Azure Open Service Broker for PCF Release Notes
owner: Partners
---
### v0.12.0
**Release Date:** October 22, 2018

* This release is based on the OSBA release v1.2.0: https://github.com/Azure/open-service-broker-azure/releases/tag/v1.2.0.

### v0.11.0
**Release Date:** September 28, 2018

* This tile starts its own version numbering, which is different from its source---OSBA.
  This v0.11.0 tile is based on OSBA release v1.1.0.

* See OSBA release notes from v0.11.0 to v1.1.0: https://github.com/Azure/open-service-broker-azure/releases.
    <p class="note breaking"><strong> Breaking Change:</strong> There are breaking changes in OSBA v1.0.0.
       Before installing the tile, deprovision all the service instances created by the v0.10.0 tile and uninstall it.</p>

* This newer tile, Azure Open Service Broker for PCF, replaces the older Azure Service Broker tile.
  The Azure Open Service Broker for PCF tile is beta only because you cannot migrate from the older tile without breaking changes.
  If you do not need to migrate from the older Azure Service Broker tile,
  you can use this newer Azure Open Service Broker for PCF tile in production.

### v0.10.0
**Release Date:** May 8, 2018

* Initial build with Open Service Broker for Azure v0.10.0. See release note [here](https://github.com/Azure/open-service-broker-azure/releases/tag/v0.10.0).

<p class="note"><strong>Note</strong>: This software is beta quality. Releases prior to v1.0.0 may introduce breaking changes and should not be used in production.</p>
