---
title: Azure Open Service Broker for PCF Release Notes
owner: Partners
---
### v0.11.0
**Release Date:** Sep 30, 2018

* Started from this version, the version numbering is different from the repo in Github. The source of this version is v1.1.0 release in Github.

* See release note from changes from v0.11.0 (Github) to v1.1.0: https://github.com/Azure/open-service-broker-azure/releases. Please notice that there are breaking changes in v1.0.0 (Github). Before installing the tile, you need to deprovision all the service instances created by old OSBA.

* The PCF tile is kept Beta, as Pivotal suggested, because the migration path from its predecessor [Azure Service Broker](https://docs.pivotal.io/partners/azure-sb/) is not ready. Therefore, we guarantee that there will be no breaking changes for the GA of this tile if you don't need that migration. On the other hand, please hold on production usage if you need that migration.

### v0.10.0
**Release Date:** May 8, 2018

* Initial build with Open Service Broker for Azure v0.10.0. See release note [here](https://github.com/Azure/open-service-broker-azure/releases/tag/v0.10.0).

<p class="note"><strong>Note</strong>: This software is beta quality. Releases prior to v1.0.0 may introduce breaking changes and should not be used in production.</p>
